<p>
    {{records |json}}
</p>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="Check">
          <th mat-header-cell *matHeaderCellDef>Check</th>
          <td mat-cell *matCellDef="let row "> <input type="checkbox"> </td>
      </ng-container>
      <ng-container matColumnDef="SNO">
        <th mat-header-cell *matHeaderCellDef>SNO</th>
        <td mat-cell *matCellDef="let row ">{{row.SNO}}  </td>
    </ng-container>
    <ng-container matColumnDef="empId">
        <th mat-header-cell *matHeaderCellDef>EmpiId</th>
        <td mat-cell *matCellDef="let row "> {{row.empId}} </td>
    </ng-container>
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row "> {{row.Name}}</td>
    </ng-container>
    <ng-container matColumnDef="Age">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let row "> {{row.Age}} </td>
    </ng-container>
    <ng-container matColumnDef="Salary">
        <th mat-header-cell *matHeaderCellDef>Salary</th>
        <td mat-cell *matCellDef="let row ">{{row.Salary}} </td>
    </ng-container>
    <ng-container matColumnDef="Department">
        <th mat-header-cell *matHeaderCellDef>Department</th>
        <td mat-cell *matCellDef="let row "> {{row.Department}}</td>
    </ng-container>
    <ng-container matColumnDef="DOB">
        <th mat-header-cell *matHeaderCellDef>DOB</th>
        <td mat-cell *matCellDef="let row "> {{row.DOB}}</td>
    </ng-container>
    <ng-container matColumnDef="Gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let row "> {{row.Gender}}</td>
    </ng-container>
    <ng-container matColumnDef="Languages">
        <th mat-header-cell *matHeaderCellDef>Languages</th>
        <td mat-cell *matCellDef="let row "> {{row.Languages}}</td>
    </ng-container>
    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row "> <input type="button" value="Actions"></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayColumns;"></tr>
    </table>

</div>
